@import "../bower_components/bootstrap/scss/bootstrap";

.naked-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.candidate {

    &__name, &__party {

        display: inline-block;
        width: 40%;
    }

}

.question {

    &__question {
        width: 60%;
        display: inline-block;
    }

    &__vote, &__actions {
        width: 15%;
        display: inline-block;
    }

}
